mixin button(text, arrow, className, href)
	if href
		a.button(class=className, href=href)&attributes(attributes)
			if text
				span!= text
			if arrow
				+icon('arrow-link')
	else
		button.button(class=className)&attributes(attributes)
			if text
				span!= text
			if arrow
				+icon('arrow-link')
